# OS files
.DS_Store
**/.DS_Store

# Environment files
**/.env
**/venv/
**/.venv/
**/__pycache__/

# Node.js dependencies
**/node_modules/
**/npm-debug.log
**/.next/
**/.next/**/*

# Temporary files
**/.tmp*
.tmp.driveupload/
**/*.tsbuildinfo

# Log files
*.log

# IDE files
.vscode/
.idea/

# Large data directories
data/CubiCasa5k/
data/processed_data/
backend/data/

# Large data files
data/Greater_Austin_Fully_Developed_Floodplain.csv
data/Land_Use_Inventory.csv
**/*.csv 
.env.local
